/* todos */
.todos-wrapper {
}
.todos-wrapper .todos {
  border-bottom: 1px solid #f0f2f3;
}
.todos-wrapper .todos > div {
  cursor: pointer;
  padding: 1rem;
}
.todos-wrapper .todos > div:last-of-type {
  border-bottom: none;
}
.todos-wrapper .todos > div:hover {
  background-color: #e6fcf5;
}
.todos-wrapper .todos > div:hover .remove{
  opacity: 1;
}
.checked, .checked:hover {
  text-decoration: line-through;
  color: #20c997;
}
.remove {
  display: inline-block;
  margin-left: 10px;
  color: #e64980;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0;
}
