/* form */
.form-wrapper {
  padding: 1rem;
  border-bottom: 1px solid #d1d1d1;
}
.form-wrapper input {
  width: 78%;
  color: #6a7273;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #dee2e6;
}
.form-wrapper input:focus,
.form-wrapper input:hover {
  border-bottom: 1px solid #b5bbc0;
}
.form-wrapper .add-btn {
  font-size: 1rem;
  margin-left: 5px;
  display: inline-block;
  background: #20c997;
  color: #fff;
  border-radius: 2px;
  padding: 4px 7px 3px;
  cursor: pointer;
}
.form-wrapper .add-btn:hover {
  background: #38d9a9;
}
.edit {
  display: inline-block;
  margin-left: 15px;
  background-color: #f06595;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 4px 7px 3px;
  border-radius: 2px;
  cursor: pointer;
}
.edit:hover {
  background-color: #f783ac;
}